*
{
    margin: 0;
    padding: 0;
    background-color: #A9C9A4;
}
{
  font-family: sans-serif;
}

h5
{
    padding: 100px;
    text-align: center;
    padding-bottom: 15px;
    color:#000000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px; 
}
.para
{
    width: 50%;
    margin: 100px auto auto 150px;
}
h1,h2
{
    color: #000000;
    border: 1px solid gray;
    background: #009900;
    padding: 10px;
}
.container{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}
.container .heading{
    text-align: left;
    padding-bottom: 15px;
    color:#000000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}
.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}
.container .box-container .box h4{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}
.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
h6
{
   text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px; 
}
.content-table {
  border-collapse: collapse;
  position: relative;left:150px; top:2px;
  margin: 25px 0;
  font-size: 0.8em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}